GestionAcademica-web/src/wsdl/localhost_8085/EnvioMail/ServicioEnvioMail.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://enviomail.stepupsoluciones.com.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://enviomail.stepupsoluciones.com.ec/">

<xs:element name="enviarMail" type="tns:enviarMail"/>

<xs:element name="enviarMailResponse" type="tns:enviarMailResponse"/>

<xs:complexType name="enviarMail">
<xs:sequence>
<xs:element name="destinatario" type="xs:string" minOccurs="0"/>
<xs:element name="asunto" type="xs:string" minOccurs="0"/>
<xs:element name="mensaje" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enviarMailResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>